.orders-wrap{

    .orders{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 3em;
        justify-items: stretch;
        align-items: stretch;
        margin-bottom: 3rem;
    }
    .order-header{
            font-weight: 400;
            color: #3F3E3E;
            padding-bottom: 1rem;
    }
    .order-card{
        .order-details{
            padding: 1rem;
            max-height: 14rem;
        }
        h3{
            font-weight: 500;
            color: #333447;
            margin-bottom: 0.8rem;
            font-size: 21px;
        }
        p{
            font-weight: 300;
            font-style: normal;
            font-size: 13px;
            line-height: 18px;
            margin-bottom: .8rem;
            color: #3F3E3E;
        }
        span{
            font-size: 12px;
        }
        .use-order{
            background: #F9F9F9;
            padding: 0.7rem 1em;
            font-size: 12px;
      
            a{
                color: #08BD37;
                text-decoration: none;
            }
        }
    }
    
    .network-error{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
        .btn-network__error{
            padding: 10px 40px;
            border-radius: 2px;
            border: none;
            color: white;
            background: #007bff;
            margin-top: 1rem;
        }
    }
    
    .load_icon{
        width: 50%;
    }
    .no-orders{
        margin-bottom: 3rem;
    }
    
    
    @media (max-width: 768px){
        .orders {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .load_icon{
            width: 100%;
        }
        
    }
    @media (max-width: 560px){
        .orders {
            display: grid;
             grid-template-columns: 1fr;
        }
    }
    
    
}
