@import '../../index.css';

.alert-danger {
    color: #252525;
    background-color: #FFF4EA;
}

.alert {
    position: relative;
    padding: .75rem;
    margin-bottom: var(--margin-bottom);
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 12px;
    text-align: center;
}
.alert-text {
    display: inline;
}
.alert-icon{
    margin-bottom: -5px;
    margin-right: 15px;
}
.footer{
    margin-bottom: var(--margin-bottom);
}
@media (max-width: 1024px){
    .alert-text {
        display: block;
        margin-top: 15px;
    }
    .orders {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



